html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#gallery_outer{
  height:500px;
  width:100%;
  overflow:hidden;
}

#gallery_inner{
  height:520px;
  width:100%;
  overflow-x:scroll;
  box-sizing: content-box;
}

